.about-me {
  padding: 114px 24px;
  gap: 24px;
  background-color: white;
  border-top-right-radius: 70px;
}

.self-intro {
  padding: 0;
  gap: 12px;
}

.set-margin {
  margin: 0 0 12px 0;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  width: 268px;
}

.about {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.social-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social-media-links {
  display: flex;
  width: 200px;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.links {
  padding: 8px;
}

.resume {
  box-sizing: border-box;
  width: 162px;
  height: 48px;
  padding: 12px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.resume a {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #396df2;
  text-decoration: none;
}

ul {
  padding: 0;
}

.additional-info {
  list-style-type: none;
}

.div-flex {
  display: flex;
  justify-content: space-between;
}

.with-border {
  border-bottom: 1px solid lightgray;
}

.div-flex h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 12px;
}

.flex {
  display: flex;
  align-items: center;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 12px;
}

.flex-img {
  width: 48px;
  height: 48px;
  margin: 9px 16px 9.72px 12px;
}

.flex p {
  flex: 1;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}
