@media (min-width: 768px) {
  .header {
    height: 72px;
  }

  .left-section {
    margin: 16px 0 16px 143px;
  }

  .icon-menu {
    display: none;
  }

  .click-event {
    display: inline-block;
  }

  .close-btn {
    display: none;
  }

  .menu-lists {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 16px 142px 16px 0;
    align-items: center;
  }

  .port-nav,
  .abt-nav,
  .cont-nav {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #344563;
    text-decoration: none;
    padding: 10px 12px;
  }

  .port-nav,
  .abt-nav {
    margin-right: 8px;
  }

  body {
    padding-top: 72px;
  }

  .headline {
    background-image: url(../images/Header\ bg.svg);
    background-size: contain;
    background-position: 32.6px 46px;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .wrapp-align {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 48px 8px 76.54px 34.6px;
    max-width: 920px;
  }

  .introduction {
    font-size: 48px;
    line-height: 60px;
    width: 45%;
  }

  .abt {
    font-size: 20px;
    line-height: 28px;
  }

  /* Project section */

  .project-intro-grid {
    justify-content: center;
  }

  .project-intro {
    display: flex;
    width: 100%;
    height: 496px;
    border-radius: 20px;
    padding: 0;
  }

  .project-picture-container {
    flex: 1;
    margin: 24px 22px 24px 24px;
  }

  .order {
    order: 2;
  }

  .project-picture {
    height: 100%;
    object-fit: cover;
  }

  .project-intro-right {
    flex: 1;
    margin: 24px 22px 27px 0;
    padding: 24px;
  }

  .project-title {
    font-size: 40px;
    line-height: 52px;
  }

  .project-stats > * {
    font-size: 18px;
    line-height: 24px;
  }

  .project-description {
    font-size: 16px;
    line-height: 30px;
  }

  .margin-set {
    margin: 0 0 24px 0;
  }

  .see-project-link {
    margin-top: 16px;
    margin-bottom: 89px;
  }

  /* About section */

  .about-me {
    max-height: 924px;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 142px;
    padding-bottom: 166px;
    border-top-right-radius: 120px;
  }

  .self-intro {
    max-width: 446px;
    flex: 40%;
  }

  .additional-info {
    max-width: 684px;
    flex: 60%;
    align-self: flex-start;
  }

  .div-flex {
    align-items: center;
    margin-bottom: 24px;
    margin-top: 24px;
  }

  .div-flex h2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .lang-container-lists {
    display: flex;
    margin: 12px 0;
  }

  .flex {
    flex-direction: column;
    align-items: flex-start;
    height: 120px;
    width: 122px;
    margin-right: 12px;
  }

  .flex-img {
    margin: 12px 0 16px 12px;
  }

  .flex p {
    flex: none;
    margin-left: 12px;
  }

  .with-border {
    padding-bottom: 24px;
  }

  /* Contact section */

  .relative-pos {
    position: relative;
  }

  .contact-sec {
    display: flex;
    align-items: center;
    max-height: 846px;
    padding: 0;
    justify-content: center;
    border-top-left-radius: 150px;
    background-image: url(../images/contact\ form\ background\ shapes.svg);
    background-position: 50% 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 700px;
  }

  .contact-form {
    max-width: 100%;
  }

  .colab-interest {
    max-width: 569px;
  }

  .form-fieldset {
    max-width: 447px;
  }

  #submit-button {
    align-self: inherit;
  }

  .end {
    display: none;
  }

  /* popup */
  .popup-wind {
    background-color: rgba(244, 245, 247, 0.85);
  }

  .d-sec {
    padding: 0 100px 0 100px;
    margin: auto;
  }

  .dpro-img-cont {
    max-width: 100%;
  }

  .dflex-cont {
    display: flex;
    gap: 24px;
    margin: 15px;
  }

  .dpro-disc {
    flex: 2;
  }

  .dright-cont {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
  }

  .m-hide {
    display: flex;
  }

  .dp-lang-btn {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .prog-lang-buttons {
    margin: 0;
  }

  .dbtn-cont {
    padding: 0;
    margin: 0;
    border: none;
  }

  .dclose-btn {
    font-size: 2rem;
    left: 95%;
    top: 1%;
  }
}
