* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background: #f6f6f6;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding-top: 48px;
}

p {
  margin: 0;
}

/* header section */

.header {
  background: transparent;
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.left-section {
  margin-left: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.logo {
  color: #6070ff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 12px;
  text-decoration: none;
}

.right-section {
  margin-right: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: none;
}

.icon-menu {
  padding: 8px;
  width: 24px;
  height: 24px;
}

.click-event {
  display: none;
}

.click-event.show {
  display: block;
  position: absolute;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(9, 30, 195, 0.65);
  backdrop-filter: blur(6px);
}

.menu-lists {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 54px;
  margin-left: 10px;
  list-style-type: none;
}

.port-nav,
.abt-nav,
.cont-nav {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 10px 12px;
}

.close-btn {
  position: absolute;
  font-size: 1.2rem;
  color: white;
  left: 86%;
  right: 0;
  top: 2%;
}

.headline {
  background-color: white;
  display: flex;
  flex-direction: column;
  background-image: url('header-shapes\ mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 70px;
  height: 604px;
}

.introduction {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-top: 114px;
  margin-bottom: 0;
  margin-left: 24px;
  margin-right: 24px;
}

.abt {
  color: #344563;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 24px;
  margin-right: 24px;
}

.supporting-text {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
  margin-left: 24px;
  margin-right: 24px;
}

.social-media-links-header {
  display: flex;
  width: 170.17px;
  justify-content: space-between;
  list-style-type: none;
  margin-left: 24px;
  padding: 0;
}

.click-event.display-menu {
  display: block;
  position: relative;
  background: #f7f7f9;
}

/* project section */

.project-intro-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 88px;
  padding: 114px 24px;
}

.project-intro {
  padding: 16px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.margin-set,
.project-picture-container {
  margin: 0 0 12px 0;
}

.project-picture {
  width: 100%;
  border-radius: 8px;
}

.project-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 0 0 12px 0;
}

.project-stats {
  display: flex;
  align-items: center;
}

.project-stats > * {
  margin-right: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding: 8px 0;
}

.project-place {
  color: #344563;
}

.project-type,
.project-year {
  color: #7a869a;
}

.project-description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.prog-lang-buttons {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.html-link {
  width: 53px;
}

.css-link {
  width: 45px;
}

.js-link {
  width: 89px;
}

.lang {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  height: 24px;
  margin-right: 8px;
}

.see-project {
  display: flex;
  align-items: center;
}

.see-project-link {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  text-decoration: none;
}

.see-project-link:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: white;
}

.see-project-link:active {
  color: white;
  background: #2230d2;
}

/* about section */

.about-me {
  padding: 114px 24px;
  gap: 24px;
  background-color: white;
  border-top-right-radius: 70px;
}

.self-intro {
  padding: 0;
  gap: 12px;
}

.set-margin {
  margin: 0 0 12px 0;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  width: 268px;
}

.about {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.social-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social-media-links {
  display: flex;
  width: 200px;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.links {
  padding: 8px;
}

.resume {
  box-sizing: border-box;
  width: 162px;
  height: 48px;
  padding: 12px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.resume a {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #396df2;
  text-decoration: none;
}

ul {
  padding: 0;
}

.additional-info {
  list-style-type: none;
}

.div-flex {
  display: flex;
  justify-content: space-between;
}

.with-border {
  border-bottom: 1px solid lightgray;
}

.div-flex h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 12px;
}

.flex {
  display: flex;
  align-items: center;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 12px;
}

.flex-img {
  width: 48px;
  height: 48px;
  margin: 9px 16px 9.72px 12px;
}

.flex p {
  flex: 1;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

/* contact section */

.contact-sec {
  background: #6070ff;
  height: 779px;
  background-image: url(../images/contact\ form\ shapes-mobile.svg);
  background-repeat: no-repeat;
  background-position: right 21px;
  border-top-left-radius: 80px;
  margin: -8px 0;
  padding: 103px 24px 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-me-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: white;
  margin-bottom: 12px;
}

.colab-interest {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  margin-bottom: 39px;
}

.form-fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
}

#name,
#email {
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px 38px 16px 16px;
}

#name::placeholder,
#email::placeholder {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

#textarea {
  height: 172px;
  background: white;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 22px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding: 15px 38px 15px 16px;
}

#textarea::placeholder {
  color: #b3bac5;
}

#submit-button {
  padding: 12px 16px;
  width: 140px;
  height: 48px;
  background: white;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #6070ff;
  border: none;
  margin-bottom: 11px;
  align-self: flex-start;
}

#submit-button:enabled {
  color: #6070ff;
  border: 1px solid #7f8cff;
}

#submit-button:disabled {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

#submit-button:hover {
  color: white;
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

#submit-button:active {
  color: white;
  background: #2230d2;
}

.end {
  display: flex;
  justify-content: center;
}

.end > img {
  margin-top: 21px;
  margin-bottom: 8px;
}

/* popup window */
.popup-wind {
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  backdrop-filter: blur(20px);
}

.popup-wind.active {
  display: block;
}

.d-sec {
  background: #f7f7f9;
  padding: 60px 16px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.d-cont {
  position: relative;
  padding: 16px;
  background-color: white;
  border-radius: 20px;
}

.m-hide {
  display: none;
}

.dbtn-cont {
  padding-top: 15px;
  margin-top: 20px;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  width: 311px;
}

.s-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 12px;
}

.align-btm {
  padding-top: 50px;
}

.dclose-btn {
  color: #67798e;
  position: absolute;
  top: 3%;
  right: 10%;
  font-size: 1.2rem;
  font-weight: 500;
}
